.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
}

.toggleButton {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  background-color: var(--color-togglebutton-background);
  color: var(--color-text-primary);
  outline: none;
}

.toggleButton:hover {
  background-color: var(--color-togglebutton-background-hover);
  transform: translateY(-1px);
}

/* This class will be applied conditionally */
.active {
  background-color: var(--color-togglebutton-background-active);
  color: var(--color-text-on-color);
}

.active:hover {
  background-color: var(--color-togglebutton-background-active-hover);
}
